## <summary>policy for amazon_cloudwatch_agent</summary>

########################################
## <summary>
##	Execute amazon_cloudwatch_agent_exec_t in the amazon_cloudwatch_agent domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`amazon_cloudwatch_agent_domtrans',`
	gen_require(`
		type amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, amazon_cloudwatch_agent_exec_t, amazon_cloudwatch_agent_t)
')

########################################
## <summary>
##	Execute amazon_cloudwatch_agent in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_cloudwatch_agent_exec',`
	gen_require(`
		type amazon_cloudwatch_agent_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, amazon_cloudwatch_agent_exec_t)
')

########################################
## <summary>
##	Read amazon_cloudwatch_agent log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_cloudwatch_agent_read_log',`
	gen_require(`
		type amazon_cloudwatch_agent_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
')

########################################
## <summary>
##	Manage amazon_cloudwatch_agent log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_cloudwatch_agent_manage_log',`
	gen_require(`
		type amazon_cloudwatch_agent_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
	manage_files_pattern($1, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
	manage_lnk_files_pattern($1, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
')